			<div class="post" id="post-1">
				<h2><a href="" rel="bookmark" title="">Mission statement</a></h2>
				<small>Founded in 2000 <!-- by Euro --></small>
				
				<div class="entry">
					<p>Fall 2000, the Risk Adjustment Network (RAN) was founded by health economists from The Netherlands, Belgium, Germany, Israel and Switzerland. Currently, also Ireland, Australia and the United States of America are represented in the RAN. Our mission is to endorse an international exchange of scientific results in the field of risk equalization systems and to enhance the usability of this knowledge in the political process. We also share our knowledge about the science and practice of regulated competition in health insurance in general and compose international comparison papers on specific subjects.</p><p> On this website you find the profiles of the RAN members, RAN projects and international comparison papers.</p>
				</div>
			</div>
	
			<div class="post" id="post-2">
				<h2><a href="" rel="bookmark" title="">Current research themes</a></h2>
				<small>International comparison papers <!-- by Euro --></small>
				
				<div class="entry">
				<ul>
					<li class="page_item"><a href="index.php?p=1">Risk adjustment and risk selection in five European countries</a>
					<li class="page_item"><a href="index.php?p=2">Consumer Mobility in Social Health Insurance Markets: A Five-Country Comparison</a>
					<li class="page_item"><a href="index.php?p=3">Supplementary health insurance as a tool for risk-selection in mandatory basic health insurance markets: A Five-Country Comparison</a>
					<li class="page_item"><a href="index.php?p=4">Acceptable costs and risk adjustment: policy choices and ethical trade-offs</a>
					<li class="page_item"><a href="index.php?p=5">Risk equalization and voluntary deductibles: a complex interaction</a>
					<li class="page_item">Managed care
					<li class="page_item">Econometric models relevant for estimating RA-models
				</ul>
				</div>
			</div>