			<div class="post" id="post-3">
				<h2><a href="" rel="bookmark" title="">Risk adjustment and risk selection in five European countries</a></h2>
				<small>International comparison paper <!-- by Euro --></small>
				
				<div class="entry">
<p>The RAN monitors and analyses the developments concerning risk adjustment and risk selection in Belgium, Germany, Israel, the Netherlands and Switzerland.</p>

<p>The focus is particularly on institutional and policy aspects of the health care system as far as they are necessary to understand the functioning of the RA-system in a country, including the impact of the RA-system on the health care system / policy.</p>

<p>From the mid-1990s citizens in Belgium, Germany, Israel, the Netherlands and Switzerland have a guaranteed periodic choice among risk-bearing sickness funds, who are responsible for purchasing their care or providing them with medical care. The rationale of this arrangement is to stimulate the sickness funds to improve efficiency in health care production and to respond to consumers' preferences. To achieve solidarity, all five countries have implemented a system of risk-adjusted premium subsidies (or risk equalization across risk groups), along with strict regulation of the consumers' direct premium contribution to their sickness fund. </p>

<p>In the RAN-articles "Risk adjustments and risk selection on the sickness fund insurance market in five European countries" and  "Risk adjustment and risk selection in Europe: 6 years later" we present a conceptual framework for understanding risk adjustment and comparing the systems in the five countries. We conclude that in the case of imperfect risk adjustment - as is the case in all five countries in the year 2001 - the sickness funds have financial incentives for risk selection, which may threaten solidarity, efficiency, quality of care and consumer satisfaction. We expect that without substantial improvements in the risk adjustment formulae, risk selection will increase in all five countries. The issue is particularly serious in Germany and Switzerland. We strongly recommend therefore that policy makers in the five countries give top priority to the improvement of the system of risk adjustment. That would enhance solidarity, cost-control, efficiency and client satisfaction in a system of competing, risk-bearing sickness funds.</p>

<p>The conclusion is that good risk adjustment is an essential pre-condition for reaping the benefits of a competitive health insurance market. Without good risk adjustment the disadvantages of a competitive insurance market may outweigh its advantages. </p>

<p><b>Publications</b></p>
<ul>

<li>W.P.M.M. Van de Ven, K. Beck, C. van de Voorde, J. Wasem and I. Zmora, Risk adjustment and risk selection in Europe: 6 years later, Health Policy, doi:10.1016/j.healthpol.2006.12.004</li>

<li>W.P.M.M. Van de Ven, K. Beck, F. Buchner, D. Chernichovsky, L. Gardiol and A. Holly et al., Risk adjustments and risk selection on the sickness fund insurance market in five European countries, Health Policy 65 (2003), pp. 75-98.</li>

<li>K. Beck, S. Spycher, A. Holly and L. Gardiol, Risk adjustment in Switzerland, Health Policy 65 (2003), pp. 63-74.</li>

<li>F. Buchner and J. Wasem, Needs for further improvement: risk adjustment in the German health insurance system, Health Policy 65 (2003), pp. 21-35.</li>

<li>L.M. Lamers, R.C.J.A. Van Vliet and W.P.M.M. Van de Ven, Risk adjusted premium subsidies and risk sharing: key elements of the competitive sickness fund market in the Netherlands, Health Policy 65 (2003), pp. 49-62.</li>

<li>A. Shmueli, D. Chernichovsky and I. Zmora, Risk adjustment and risk sharing: the Israeli experience, Health Policy 65 (2003), pp. 37-48.</li>

<li>E. Schokkaert and C. Van de Voorde, Belgium: risk adjustment and financial responsibility in a centralised system, Health Policy 65 (2003), pp. 5-19.</li>

</ul>
				</div>
			</div>