			<div class="post" id="post-7">
				<h2><a href="" rel="bookmark" title="">Risk equalization and voluntary deductibles: a complex interaction</a></h2>
				<small>International comparison paper <!-- by Euro --></small>
				
				<div class="entry">
<p>
Under community-rated premiums voluntary deductibles lead to self-selection, i.e. the young and healthy individuals are more likely to opt for a deductible than the elderly and chronically ill. In the RAN-articles "Risk equalization and voluntary deductibles: a complex interaction" and "How self-selection affects risk equalization: The example of voluntary deductibles" we examine the consequences of self-selection on the functioning of risk-equalization systems. We conclude that self-selection can have serious impacts on the level of cross-subsidization among plans and the extent to which insurers can incorporate plan-specific cost reductions (e.g. out-of-pocket expenses and moral hazard reduction in the case of deductibles) into their premiums. 
</p>

<p><b>Publications</b></p>
<ul>

<li>R.C. van Kleef, K. Beck, W.P.M.M. van de Ven, and en R.C.J.A. van Vliet, Risk equalization and voluntary deductibles: a complex interaction, Journal of Health Economics, 27: 427-443. 
</li>
<li>
R.C. van Kleef, K. Beck, and F. Buchner, How self-selection affects risk equalization: The example of voluntary deductibles, submitted for publication.
</li>

</ul>
				</div>
			</div>